html, body {
  margin: 0;
  padding: 0;
  font-family: Courier;
  font-size: 24pt;
  color: #F33A6A;
}
p {
  width: 50%;
  text-align: center;
  line-height: 1.5;
  vertical-align: middle;
}
div {
  padding: 100px 100px 100px 100px;
  text-align: center;
}
canvas {
  display: block;
}
